version: '3'
services:
    app:
        image: abnerdsr/apache-php:<tag_name>
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '80:80'
        volumes:
            - 'minhapastalocal:/var/www/html' # Informe aqui o caminho da pasta local onde esta seu projeto
        networks:
            - apache
        depends_on:
            - mysql
            - minio
            - mailpit

    mysql:
        image: 'mysql/mysql-server:latest'
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: 'apachedb'
            MYSQL_USER: 'apache'
            MYSQL_PASSWORD: 'root'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'mysqldata:/var/lib/mysql'
        networks:
            - apache
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-ppassword"]
            retries: 3
            timeout: 5s

    minio:
        image: 'minio/minio:latest'
        ports:
            - '9090:9000' # system port
            - '8990:8900' # console port
        environment:
            MINIO_ROOT_USER: 'abnerdsr'
            MINIO_ROOT_PASSWORD: 'password'
        volumes:
            - 'miniodata:/data/minio'
        networks:
            - apache
        command: minio server /data/minio --console-address ":8900"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            retries: 3
            timeout: 5s

    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '1035:1025' # main port
            - '8035:8025' # dashboard port
        networks:
            - apache

networks:
    apache:
        driver: bridge
volumes:
    mysqldata:
        driver: local
    miniodata:
        driver: local